/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* צבע רקע */
}

header {
    background-color: #4CAF50; /* צבע ירוק נעים */
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s; /* אפקט מעבר צבעים */
}

nav ul li a:hover {
    color: #d1f1d1; /* צבע קישורים בכיוון מעבר */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white; /* צבע רקע של החלקים */
    border-radius: 8px; /* פ corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל */
    text-align: center; /* מרכז את המלל */
}

.home-content {
    margin: auto; /* מרווח אוטומטי */
    max-width: 800px; /* גובה המקסימום */
}

.product {
    border: 1px solid #ddd;
    margin: 15px;
    padding: 10px;
    transition: transform 0.3s; /* אפקט על hover */
}

.product img {
    width: 100%; /* תמונה מלא */
    border-radius: 8px; /* פ corners */
}

.product:hover {
    transform: scale(1.02); /* אפקט הרכבת */
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
